# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# 内核模块构建系统生成的依赖文件
*.cmd

# 目标文件和模块中间文件
*.o
*.mod.c
*.mod.o
*.mod*

# 内核模块符号和顺序文件
Module.symvers
modules.order
modules.builtin
modules.builtin.modinfo

# 最终生成的内核模块文件
*.ko
*.ko.unsigned
*.ko.xz

# 其他内核构建相关临时文件
*.tmp
*.tmp_versions
*.markers
*.symtypes
*.order
*.elf
*.bin
*.patch
*.gcno
*.gcda
*.gcov

